<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="team, sorting, picking, fair, teams, division, algorithm, students, proficiency, balancing">
    <title>Picking Fair Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container"></div>
        <h1>Pick Fair Teams</h1>
        <p>This tool helps you divide a group of people (students, football players etc.) into fair teams based on their individual proficiency levels. It uses an algorithm I developed as part of my Master's Thesis. For precise details you can read my thesis <a href="https://github.com/AngusRobinson/PickFairTeams/blob/master/ReworkedThesis.pdf">here</a>.</p>
        <p>Your data should be entered as follows: two columns without any headers, the left one with a name or ID, and the right one with that person's individual proficiency (e.g. the mark out of 100 they got on the last exam, or your estimated score out of ten for how good a player they are. It can be entered as a CSV file, or you can write the data in manually, or copy and paste from columns in a spreadsheet.)</p>
        <form id="team-form">
            <label for="num-teams">Number of Teams:</label>
            <input type="number" id="num-teams" name="num-teams" required>
            <br>
            <button type="button" id="toggle-input">Switch to manual input</button>
            <br>
            <br>
            <label for="file-upload" id="file-upload-label">Upload CSV File:</label>
            <input type="file" id="file-upload" name="file-upload" accept=".csv">
            
            <label for="manual-input" id="manual-input-label" style="display:none;">Enter data manually, or copy and paste from two columns of a spreadsheet:</label>
            <textarea id="manual-input" name="manual-input" rows="10" cols="30" style="display:none;" placeholder="ID/Name, Proficiency (one per line)"></textarea>        <br>
            <br>
            <button type="submit">Submit</button>
            <button id="export-btn" style="display:none;">Export as CSV</button>
            <button type="button" id="reset-btn" onclick="resetForm()">Reset</button>
        </form>
        <div id="loading-message" style="display:none;">Processing data, please wait... For large teams, it may take a few minutes.</div>
        <div id="error-message" style="display:none;">An error occurred during processing. Please try again. If it still doesn't work, your data may be too large. Try splitting it up into smaller chunks and running them separately (e.g. instead of sorting 300 people into 30 teams of 10, split them into three (random-ish groups) sort the first hundred into 10 teams of 10, then do the same for the second and third hundreds). In general, you will still get fairly good solutions.</div>

        
        <div id="results">
            <!-- The results will be displayed here -->
        </div>
    </div>
    <!-- Your HTML content will go here -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
